@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  color: black;
}

a:link {
  text-decoration-line: none;
}

/* General layout */
#layout {
  background-color: blanchedalmond;
}

#header {
  margin: 0;
  padding: 10px;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-link a:hover {
  background-color: aqua;
}

.blog-content-card {
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px;
}

#main-index-page {
  height: 1vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-area-wrapper {
  margin-top: 50px;
  /* display: flex; */
  /* justify-content: center; */
}

.portfolio-link {
  margin: 5rem;
}

#portfolio-post-content {
}
