@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  color: black;
}

a:link {
  text-decoration-line: none;
}

main {
  padding: 50px;
}

/* Layout Style */
/* #layout {
} */

#header {
  margin: 0;
  padding: 25px;
  background: white;

  display: flex;
  justify-content: space-evenly;
}

.header-button {
  border: black solid 5px;
  padding: 25px;
  margin: 5px; 
}

.header-button {
  border: black solid 5px;
  padding: 25px;
  margin: 5px;
  background-color: transparent;
  transition: background-color 0.5s ease;
  position: relative; /* Required for the pseudo-element */
  overflow: hidden; /* Hide the overflow */
  z-index: 1; /* Set a higher z-index for the parent element */
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: -1; /* Set a lower z-index for the pseudo-element */
}

.header-button:hover::before {
  transform: scaleX(1);
}

.header-button:hover::before {
  transform: scaleX(1); /* Scale the pseudo-element to full width on hover */
}

#header-content-links {
  display: flex;
}

/* Trying to target the 'About' button. */
#header-about-link > Link:hover {
  background-color: red;
}

.content-link a:hover {
  background-color: aqua;
}

/* Content Style */ 
.blog-content-card {
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 5px;
}

.post-content-wrapper {
  margin-top: 25px; 
}

#main-index-page {
  height: 1vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-area-wrapper {
  margin-top: 50px;
  /* display: flex; */
  /* justify-content: center; */
}

.portfolio-link {
  margin: 5rem;
}

.section {
  border: 10px solid black;
}