@import "./global.css";

* {
  background-color: rgb(217, 217, 217);
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background-color: rgb(32, 76, 148);
  /* border-bottom-left-radius: 25%; */
  /* border-bottom-right-radius: 25%; */
  position: sticky;
  top: 0;
}

.header-button {
  padding: 25px;
  margin: 5px;
  background-color: transparent;
  background-color: rgb(32, 76, 148);

  font-size: larger;
  font-weight: bold;
}

.header-button:hover {
  color: white;
}

#header-content-links {
  display: flex;
}
